:root {
  --primary: 52, 211, 153;
  --secondary: 55, 65, 81; /* bg-gray-700 */
  --secondary-hover: 31, 41, 55; /* bg-gray-800 */
}

.ui.button,
button.ui.button {
  margin: 0;
  border: 2px solid rgba(var(--secondary), 1);
  background-color: transparent;
  font-weight: normal;
  color: 2px solid rgba(var(--secondary), 1);
}

.ui.button:active,
.ui.button:focus {
  background-color: rgba(var(--secondary-hover), 1) !important;
}

button.ui.button:hover {
  border: 2px solid rgba(var(--secondary-hover), 1);
  background-color: rgba(var(--secondary-hover), 1);
  font-weight: bolder;
  color: white;
}

/* .ui.basic.table td,
.ui.basic.table tr {
  background: transparent !important;
} */

.ui.selectable.table tbody tr.rowColor:hover,
.ui.table tbody tr.rowColor td.selectable:hover {
  background: transparent !important;
}

/* .cellColor {
  background: inherit !important;
}


tr.row:hover,
.ui.celled.table tr:hover,
tr.row:active,
tr.row:focus,
.ui.basic.table td:hover {
  background: inherit !important;
} */
