/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
* {
  border-style: dashed;
}

#user-card a {
  /* background-color: #d1fae5; */
}

#user-card a:hover {
  /* background-color: white;
  border-color: gray; */
}

@tailwind base;
@tailwind components;
@tailwind utilities;
